.bg_primary-color {
  background-color: #FFFFFF;
}
.primary-color {
  background-color: #FFFFFF;
}
.bg_secondary-color {
  background-color: #293241;
}
.secondary-color {
  color: #293241;
}
.custom-button.btn {
  background-color: #293241;
  color: #FFF;
  border: 2px solid transparent;
  font-size: 1.05rem !important;
  padding: .7rem 1.5rem;
}
.custom-button.btn:hover {
  background-color: transparent;
  border: 2px solid #293241;
  color: #000 !important;
}
.hero {
  width: 100vw;
  height: 50vh;
}
.hero img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}
.bg-image {
  background-image: asset-url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.display-4 {
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: calc(1.475rem + 3.7vw) !important;
}
.lead {
  font-size: 1.55rem !important;
}
.card-img-top {
  height: calc(35vh);
}
.card-title {
  font-size: calc(1.1rem + .3vw);
  font-weight: normal;
}
.card {
  height: 58vh;
}
.card-body {
  flex-direction: column;
}
.recipes-container {
  padding-top: 0 !important;
}
.py-5 {
  width: 75% !important;
}
.navigation-button {
  margin: 9px auto;
  padding: .4rem 3rem !important;
}
.multi-select {
  width: 80vw;
  margin: 10px auto;
  padding-left: 0;
  padding-right: var(--bs-gutter-x,.75rem)
}
.filter-container {
  padding-bottom: 20px !important;
}
.recipe-name {
  margin-left: 1em;
  margin-right: 1em;
  font-size: calc(1.475rem + 2.4vw) !important;
}
.margin-top {
  margin-top: 3rem;
}
